<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card">
      <div class="card-header text-center">
        <h2>{{ "Register" | uppercase }}</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('name').touched &&
                  registerForm.get('name').invalid
                    ? true
                    : false
              }"
            />
            <span class="invalid-feedback">Name can't be blank</span>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('email').touched &&
                  registerForm.get('email').invalid
                    ? true
                    : false
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="registerForm.get('email').hasError('required')"
                >Email can't be blank</span
              >
              <span *ngIf="registerForm.get('email').hasError('email')"
                >Please enter a valid email</span
              >
            </span>
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              formControlName="username"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('username').touched &&
                  registerForm.get('username').invalid
                    ? true
                    : false
              }"
            />
            <span class="invalid-feedback">Username can't be blank</span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('password').touched &&
                  registerForm.get('password').invalid
                    ? true
                    : false
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="registerForm.get('password').hasError('required')"
                >Password can't be blank</span
              >
              <span *ngIf="registerForm.get('password').hasError('symbol')"
                >Password must contain @</span
              >
              <span *ngIf="registerForm.get('password').hasError('minLength')"
                >Password must be more than 4 characters</span
              >
            </span>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('confirmPassword').touched &&
                  registerForm.get('confirmPassword').invalid
                    ? true
                    : false
              }"
            />
            <span class="invalid-feedback">
              <p>Password doesn't match</p>
            </span>
          </div>

          <button
            class="btn btn-primary btn-block"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
